<!doctype html>
<html>
<head>
<title>玉山小程序-DEMO後台</title>
<meta charset="utf-8">
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h2>WeChat說 -- Hello world!</h2>
    <a href='/api/'>api</a>
    <p>玉山!!</p>
    <div class="page-header "></div>
    <!-- page-header -->
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>訂購者</th>
              <th>項目</th>
              <th>金額</th>
              <th>付款時間</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders|dictsort:"id" %}
            <tr>
              <td>{{ order.customerName }}</td>
              <td>{{ order.itemName }}</td>
              <td>{{ order.payAmount }}</td>
              <td>{{ order.paydate }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- col-md-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</body>
</html>